@import "variables";
@import "mixins";

.header__menu {
    @include maxwidth;
    @include pding;
    padding-top: 10px;
    align-items: center;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    font-size: 20px;
   
    &__image {
       width: 50%;
       & img {
           width: 100%;
       }
    }
}
main {
    background-color: #f4f4f4;
}
.main__image {
    width : 100%;
    height: auto;
    img {
        width: 100%;
        object-fit: cover;
    }
}
.restaurant {
    @include pding; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: -60px;
    gap: 30px;
    background-color: $grey;
    border-radius: 40px 40px 0px 0px;
    

    &__identity {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name {
        font-family: $skd;
        }

        &__icon {
            position: relative;
            width: 24px;
            height: 24px;

            &__regular {
                @include icon-regular;
            }
            &__modified {
                @include icon-modified;
            }
            &:hover &__modified {
                @include icon-modified-hover;
            }
            @keyframes fillup {
                0% { background-position: 0% 0%;}
                100% { 
                    background-position: 0% 100%;
                }
            }  
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        
        gap: 30px;
    }

    &__button {
        @include btn-style;
        width:50% ; 
        align-self: center;
        &:hover {
            &::after {
                opacity:1;
            }
        }
        &::after {
            @include btn-style-after;
        }
    }
}
.mealbox__title {
    position: relative;
    font-size: 17px;
    font-weight: 400;
}
.mealbox__title::after {
    content: "";
    background-color: $tertiary;
    height: 4px;
    width: 43px;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.meal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;

    &__description {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__choice {
        min-width: 330px;
        width: auto;
        height: 70px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 10px;
        overflow:hidden; 

        border-radius: 15px;
        box-shadow: 0 3px 10px #c4c3c3;

        background-color: #ffffff;
       
        &__text {
            width: 100%;
            align-self: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        &__price {
            width: 50px;
            align-self: flex-end;
            padding-bottom: 15px;
        }
        
    }
}
//.delay1 {
   //@include delay;
//}
.animation {
    width: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    
    background-color: $tertiary;
    transition: width 0.6s ease-in-out;

    &__icon {
        text-align: center;
        vertical-align: middle;
        color: white;
        transition: transform 0s ease-in-out;
    }
    
}
.meal__choice:hover .animation {
    width: 100px;
    transition: width .6s ease-in-out;
    
    &__icon {
        transform: rotate(1turn);
        transition: transform 0.3s ease-in-out;
    }   
}