@import "variables";
@import "mixins";


.header__menu {
    @include maxwidth;
    @include header-style;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 20px;

    &__image {
        width: 44%;
        max-width: 230px;

        & img {
           width: 100%;
           object-fit: cover;
       }
    }
    
    &__icon {
        position: absolute;
        left: 5%;
    }    
}

main {
    background-color: #f4f4f4;
}
.main__image {
    width : 100%;
    height: auto;
    img {
        width: 100%;
        object-fit: cover;
    }
}
.restaurant {
    @include pding;
    padding-top: 2%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: -60px;
    //gap: 30px;
    background-color: $grey;
    border-radius: 40px 40px 0px 0px;
    

    &__identity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include pding;

        &__name {
        font-family: $skd;
        font-size: 20px;
        }

        &__icon {
            position: relative;
            width: 24px;
            height: 24px;

            &__regular {
                @include icon-regular;
            }
            &__modified {
                @include icon-modified;
            }
            &:hover &__regular {
                opacity:0;
            }
            &:hover &__modified, &:active &__modified {
                @include icon-modified-hover;
                opacity:1;
            }
           
            @keyframes fillup {
                0% { 
                    background-position: 0% 0%;
                }
                100% { 
                    background-position: 0% 100%;
                }
            }  
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__button {
        @include btn-style;
        padding: 17px 55px;
        margin-top: 15%;
        align-self: center;
        
        &:hover {
            &::after {
                opacity:1;
            }
        }
        &::after {
            @include btn-style-after;
        }
    }
}
.mealbox {
    &__title {
        position: relative;
        font-size: $large;
        font-weight: 400;
        padding-inline: 3%;

        &::after {
        content: "";
        background-color: $tertiary;
        height: 4px;
        width: 40px;
        position: absolute;
        bottom: -4px;
        left: 3%;
        }
    }
}

.meal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__choice {
        max-width: 600px;
        width: auto;
        height: 75px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 10px;
        overflow:hidden; 

        border-radius: 15px;
        box-shadow: 0 3px 10px #c4c3c3;

        background-color: #ffffff;
       
        &__text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            align-self: center;
            overflow: hidden;
        }
        &__price {
            width: 50px;
            align-self: flex-end;
            padding-bottom: 13px;
        }
        
    }
}
.delay {
    &__1 {
        @include moving;
        animation-delay: 0.5s;
    }
    &__2 {
        @include moving;
        animation-delay: 1.2s;
    }
    &__3 {
        @include moving;
        animation-delay: 1.7s;
    }
}

@keyframes move {
    0% {transform:translateY(80px);
    opacity: 0;}
    //50% {opacity:1;}
    100% {transform:translateY(0px);
    opacity:1;}
}
.animation {
    width: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    
    background-color: $tertiary;
    transition: width 0.6s ease-in-out;

    &__icon {
        text-align: center;
        vertical-align: middle;
        color: white;
        font-size: 25px;
        transition: transform 0s ease-in-out;
    }
    
}
.meal__choice:hover .animation {
    width: 100px;
    transition: width .6s ease-in-out;
    
    &__icon {
        transform: rotate(1turn);
        transition: transform 0.4s ease-in-out;
    }   
}

@import "mediaqueries/tablet-menus-restaurants";
@import "mediaqueries/desktop-menus-restaurants";
