@mixin maxwidth {
    max-width: 1440px;
    margin: auto;
}

@mixin btn-style {
    position: relative;
    z-index: 1;
    padding: 15px 20px;
    border:none;
    box-shadow: 2px 2px 5px  #a9a9a9;
    border-radius: 25px;
    background: linear-gradient(165deg,$secondary,$primary);
    color: #ffffff;
    font-weight: bold;
   
}
@mixin btn-style-after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    border-radius: 25px;
    background: linear-gradient(165deg, lighten($secondary,5%), lighten($primary,5%));
    box-shadow: 3px 3px 8px #969696;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
}
@mixin pding {
    padding-inline: 3%;
}

@mixin pding-ctnr {
    padding: 25px 5%; 
}
@mixin icon-regular {
    z-index: 2;
    position:absolute;
    top: 0;
    left: 0;
    background: transparent;
    color: grey;
    font-size: 24px;
}

@mixin icon-modified {
    -webkit-background-clip: text; 
    -webkit-text-fill-color:transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient($grey 0%,$grey 50%,$secondary 50%,$primary 100%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    font-size: 24px; 
}

@mixin icon-modified-hover {
    animation-duration: 1s;
    animation-name: fillup;
    animation-fill-mode: forwards;
}

@mixin delay {
    transform: translateY(-100px);
    animation: transform 0.5s 1;
}