@mixin maxwidth {
    max-width: 1440px;
    margin: auto;
}

@mixin pding {
    padding-inline: 3%;
}

@mixin pding-ctnr {
    padding: 25px 5%; 
}

@mixin header-style {
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    background-color: white;
}

// START style des boutons //
@mixin btn-style {
    position: relative;
    z-index: 1;
    border:none;
    box-shadow: 2px 2px 5px  #a9a9a9;
    border-radius: 28px;
    background: linear-gradient(165deg,$secondary,$primary);
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}
@mixin btn-style-after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    border-radius: 28px;
    background: linear-gradient(165deg, lighten($secondary,5%), lighten($primary,5%));
    box-shadow: 3px 3px 8px #969696;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
}
// END style des boutons //


// START heart icon style //
@mixin icon-regular {
    z-index: 2;
    position:absolute;
    top: 0;
    left: 0;
    color: grey;
    opacity:1;
    font-size: 24px;
}

@mixin icon-modified {
    -webkit-background-clip: text; 
    -webkit-text-fill-color:transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient($grey 0%,$grey 50%,$secondary 50%,$primary 100%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    opacity: 0;
    font-size: 24px; 
}

@mixin icon-modified-hover {
    animation-duration: 1s;
    animation-name: fillup;
    animation-fill-mode: forwards;
}
// END heart icon style //


// START animation menu delay //
@mixin moving {
    opacity:0;
    animation: move 0.7s 1 ease-in-out forwards;
}
// END animation menu delay //

