body,p,h3 {
    margin:0;
}
a {
    text-decoration: none;
    color: unset;
}
ul {
    list-style-type: none;
    padding: 0;
}

input {
    padding: 0;
    appearance: unset;
    border: none;
    box-sizing: unset;
    background-color: transparent;
}
:focus-visible {
    outline: none;
}