@import "reset";
@import "variables";
@import "mixins";

body {
    font-family: $rbt;
}
main {
    @include maxwidth;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba($color: #f4f4f4, $alpha: 0.8);
    animation: disapear 2s forwards;
}
.spinner::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: double 7px $grey;
    border-top-color: $primary;
    border-bottom-color:$secondary;
    border-right-color: $tertiary;
    animation: turn 0.7s ease-in 5 alternate;
}
@keyframes turn {
    0% {
        transform: rotate(0turn);
        
    }
    100% {
        transform: rotate(1turn);
    }
}
@keyframes disapear{
    99% {
        opacity:1;
    }
    100% {
        opacity:0;
        visibility:hidden;
    }
}
.header {
    @include maxwidth;
    @include header-style;
    
    &__logo {
       width: 45%;
       max-width: 230px;
    }
}

.localisation {
    @include pding;
    padding-block: 15px;
    display: flex;
    grid-gap: 4%;
    justify-content: center;
    background-color: $medium-grey;
    font-size: 17px;
}
.intro {
    height: 250px;
    background-color: $grey;
    text-align: center;
    padding-bottom: 45px;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 12% 30px 12%;
        gap: 10px;
    }

    &__title {
        margin: 0;
        font-size: 26px;
        padding-inline: 1%
    }

    &__text {
        color: rgb(100, 99, 99);
        font-size: 18px;
    }
    &__button {
        @include btn-style;
        padding: 17px 55px;

        &:hover {
            &::after {
                opacity:1;
            }
        }
        &::after {
            @include btn-style-after;
        }
    }
}
.functioning {
    height: 400px;
    @include pding-ctnr;
    background-color: white;

    &__title {
        font-size: 24px;
    }

    &__box {
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
.step {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: -10px;
   
    &__box {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;

        border-radius: 20px;
        box-shadow: 0 3px 10px #c4c3c3;

        background-color: $grey;

        &__text {
            font-size: 17px;
        }
    
        &__icon {
            width: 70px;
            text-align: center;
            font-size: 18px;
            color: #808080;
        }
        &:hover {
            background-color:$primarylight;
            
        }
        &:hover &__icon {
                color:$primary;  
        }
        
    }    

    &__number {
        height: 23px;
        width: 23px;
        line-height: 23px;
        position: relative;
        right: -10px;
       
        border: 1px solid $primary;
        border-radius: 50%;

        background-color: $primary;

        text-align: center;
        color: white;
    }
    
}
.restaurants {
    @include pding-ctnr;
    background-color: $grey;

    &__flex {
        display: flex;
        flex-direction: column; 
        gap: 18px;
    }
}
.card {
        border-radius: 15px;
        box-shadow: 2px 2px 5px  #a9a9a9;
        height: 280px;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        overflow: hidden;

        &__link {
            width: 100%;
            height: 100%;
        }
        
        &__image {
            height:70%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;   
            }
        }
        &__after {
            position: relative;
           
            &::after {
                content: "Nouveau";
                position: absolute;
                right:10px;
                top: 10px;
                width: 90px;
                height: 30px;
                line-height: 30px;
                background-color: $tertiary;
                border-radius: 2px;
                font-size: 15px;
                font-weight: 500;
                color:#126e49;
                text-align: center;
            }
        }
        &__body {
            height:30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 20px;
            
            &__text {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 16px;
            }
            &__icon {
                position: relative;
                width: 24px;
                height: 24px;

                &__regular {
                    @include icon-regular;
                }
                &__modified {
                    @include icon-modified;
                }
                &:hover &__modified, &:active &__modified {
                    @include icon-modified-hover;
                    opacity:1;
                }
                &:hover &__regular {
                    opacity:0;
                }
                @keyframes fillup {
                    0% { 
                        background-position: 0% 0%;
                    }
                    100% { 
                        background-position: 0% 100%;
                    }
                }
            }
        }
}
.footer {
    @include pding;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: $darkest-grey;
    color:#ffffff;
    font-size: 16px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__icon {
        width: 11px;
        font-size: 12px;
    }

    &__box{
        display: flex;
        gap: 10px;
        line-height: 12px;
    }

    &__logo {
        font-family: $skd
    }
}
@import "mediaqueries/tablet";
@import "mediaqueries/desktop";
@import "menus-restaurants";
