@import "reset";
@import "variables";
@import "mixins";
@import "menus-restaurants";

body {
    font-family: $rbt;
}
main {
    @include maxwidth;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba($color: #f4f4f4, $alpha: 0.8);
    animation: disapear 3s forwards;
}
.spinner::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: double 7px $grey;
    border-top-color: $primary;
    border-bottom-color:$secondary;
    border-right-color: $tertiary;
    animation: turn 0.7s ease-in 5 alternate;
}
@keyframes turn {
    0% {
        transform: rotate(0turn);
        
    }
    100% {
        transform: rotate(1turn);
    }
}
@keyframes disapear{
    99% {
        opacity:1;
    }
    100% {
        opacity:0;
        visibility:hidden;
    }
}
.header {
    @include maxwidth;
    @include pding;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    
    &__logo {
       width: 50%;
    }
}
.localisation {
    @include pding;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $medium-grey;
    text-align: center;
}
.intro {
    @include pding-ctnr;
    height: 200px;
    background-color: $grey;
    text-align: center;

    &__title {
        margin: 0;
    }

    &__text {
        margin-bottom: 30px;
        color: rgb(100, 99, 99);
    }
    &__button {
        @include btn-style;
        &:hover {
            &::after {
                opacity:1;
            }
        }
        &::after {
            @include btn-style-after;
        }
    }
}
.functioning {
    height: 400px;
    @include pding-ctnr;

    &__title {
        font-size: px;
    }

    &__box {
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
.step {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: -10px;
   
    &__box {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;

        border-radius: 20px;
        box-shadow: 0 3px 10px #c4c3c3;

        background-color: $grey;
    
        &__icon {
            width: 70px;
            text-align: center;
            font-size: 18px;
            color: #808080;
        }
        &:hover {
            background-color:$primarylight;
            
        }
        &:hover &__icon {
                color:$primary;  
        }
        
    }    

    &__number {
        height: 20px;
        width: 20px;
        line-height: 20px;
        position: relative;
        right: -10px;
       
        border: 1px solid $primary;
        border-radius: 50%;

        background-color: $primary;

        text-align: center;
        color: white;
    }
    
}
.restaurants {
    @include pding-ctnr;
    background-color: $grey;

    &__flex {
        display: flex;
        flex-direction: column; 
        gap: 18px;
    }
}
.card {
        border-radius: 20px;
        box-shadow: 2px 2px 5px  #a9a9a9;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        overflow: hidden;

        &__link {
            width: 100%;
            height: 100%;
        }
        
        &__image {
            height:70%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;   
            }
        }
        &__body {
            height:30%;
            display: flex;
            justify-content: space-between;
            padding: 15px 20px 10px 15px;
            
            &__text {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: $large;
            }
            &__icon {
                .card__body__icon__regular {
                    color: $darkest-grey;
                    font-size: 24px;
                    font-weight: 200;
                }
                .card__body__icon__modified {
                    position: relative;
                    top: 24px;
                    background: linear-gradient($secondary,$primary);
                    display: none;
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color:transparent;
                    font-size: 24px; 
                }
                &:hover {
                    .card__body__icon__regular {
                        display: none;
                    }
                    .card__body__icon__modified {
                        display: block;
                        animation-duration: 3s;
                        animation-name: fillup;
                    }
                }
                @keyframes fillup {
                    0% { transform: translateY(0px); }
                    30% { transform: translateY(-8px); }
                    70% { transform: translateY(-16px);}
                    100% { transform: translateY(-24px) }
                  }  
            }
        }
}


.footer {
    @include pding;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: $darkest-grey;
    color:#ffffff;
    font-size: 12px;

    &__icon {
        width: 10px;
        font-size: 11px;
    }

    &__box{
        display: flex;
        gap: 10px;
    }

    &__logo {
        font-family: $skd
    }
}
@import "mediaqueries/tablet";
@import "mediaqueries/desktop";
