body, p, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.header {
  max-width: 1440px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.header__logo {
  width: 50%;
}

.restaurant {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 60px 60px 0px 0px;
}
.restaurant__button {
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  color: #ffffff;
  font-weight: bold;
  width: 50%;
  align-content: center;
  align-items: center;
}

.mealbox__title {
  position: relative;
}

.mealbox__title::after {
  content: "";
  background-color: #99E2D0;
  height: 4px;
  width: 61px;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.meal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.meal__choice {
  width: 357px;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 3px 10px #c4c3c3;
}
.meal__choice__text {
  width: 100%;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__choice__price {
  width: 50px;
  align-self: flex-end;
  padding-bottom: 15px;
}

.animation {
  width: 0px;
}

.meal__choice:hover .animation {
  width: 100px;
  transition: width 0.5s ease-in-out;
  background-color: #99E2D0;
}
.meal__choice:hover .animation__icon {
  color: white;
}

body {
  font-family: roboto;
}

main {
  max-width: 1440px;
  margin: auto;
}

.header {
  max-width: 1440px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.header__logo {
  width: 50%;
}

.localisation {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e5e5e5;
  text-align: center;
}

.intro {
  padding: 25px 5%;
  height: 200px;
  background-color: #f4f4f4;
  text-align: center;
}
.intro__title {
  margin: 0;
}
.intro__text {
  margin-bottom: 30px;
  color: #646363;
}
.intro__button {
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  color: #ffffff;
  font-weight: bold;
}

.functioning {
  height: 400px;
  padding: 25px 5%;
}
.functioning__title {
  font-size: px;
}
.functioning__box {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.step__box {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 3px 10px #c4c3c3;
  background-color: #f4f4f4;
}
.step__box__icon {
  width: 70px;
  text-align: center;
  font-size: 18px;
}
.step__box:hover {
  background-color: #9256dc2f;
}
.step__box:hover .step__box__icon {
  color: #9356DC;
}
.step__number {
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: relative;
  right: -10px;
  border: 1px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: white;
}

.restaurants {
  padding: 25px 5%;
  background-color: #f4f4f4;
}
.restaurants__flex {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card {
  border-radius: 20px;
  box-shadow: 2px 2px 5px #a9a9a9;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
.card__link {
  width: 100%;
  height: 100%;
}
.card__image {
  height: 70%;
}
.card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__body {
  height: 30%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 10px 15px;
}
.card__body__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}
.card__body__icon .card__body__icon__regular {
  color: #282828;
  font-size: 24px;
  font-weight: 200;
}
.card__body__icon .card__body__icon__modified {
  background: linear-gradient(#FF79DA, #9356DC);
  display: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}
.card__body__icon:hover .card__body__icon__regular {
  display: none;
}
.card__body__icon:hover .card__body__icon__modified {
  display: block;
}

.footer {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #282828;
  color: #ffffff;
  font-size: 12px;
}
.footer__icon {
  width: 10px;
  font-size: 11px;
}
.footer__box {
  display: flex;
  gap: 10px;
}
.footer__logo {
  font-family: shrikhand;
}

/*# sourceMappingURL=style.css.map */
