body, p, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.header__menu {
  max-width: 1440px;
  margin: auto;
  padding-inline: 3%;
  padding-top: 10px;
  align-items: center;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  font-size: 20px;
}
.header__menu__image {
  width: 50%;
}
.header__menu__image img {
  width: 100%;
}

main {
  background-color: #f4f4f4;
}

.main__image {
  width: 100%;
  height: auto;
}
.main__image img {
  width: 100%;
  object-fit: cover;
}

.restaurant {
  padding-inline: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: -60px;
  gap: 30px;
  background-color: #f4f4f4;
  border-radius: 40px 40px 0px 0px;
}
.restaurant__identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__identity__name {
  font-family: shrikhand;
}
.restaurant__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.restaurant__button {
  position: relative;
  z-index: 1;
  padding: 15px 20px;
  border: none;
  box-shadow: 2px 2px 5px #a9a9a9;
  border-radius: 25px;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  color: #ffffff;
  font-weight: bold;
  width: 50%;
  align-self: center;
}
.restaurant__button:hover::after {
  opacity: 1;
}
.restaurant__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(165deg, #ff93e1, #a16be0);
  box-shadow: 3px 3px 8px #969696;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.mealbox__title {
  position: relative;
}

.mealbox__title::after {
  content: "";
  background-color: #99E2D0;
  height: 4px;
  width: 61px;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.meal {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.meal__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.meal__choice {
  min-width: 330px;
  width: auto;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 3px 10px #c4c3c3;
  background-color: #ffffff;
}
.meal__choice__text {
  width: 100%;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__choice__price {
  width: 50px;
  align-self: flex-end;
  padding-bottom: 15px;
}

.animation {
  width: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  background-color: #99E2D0;
  transition: width 0.6s ease-in-out;
}
.animation__icon {
  text-align: center;
  vertical-align: middle;
  color: white;
  transition: transform 0s ease-in-out;
}

.meal__choice:hover .animation {
  width: 100px;
  transition: width 0.6s ease-in-out;
}
.meal__choice:hover .animation__icon {
  transform: rotate(1turn);
  transition: transform 0.3s ease-in-out;
}

body {
  font-family: roboto;
}

main {
  max-width: 1440px;
  margin: auto;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(244, 244, 244, 0.8);
  animation: disapear 3s forwards;
}

.spinner::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: double 7px #f4f4f4;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-right-color: #99E2D0;
  animation: turn 0.7s ease-in 5 alternate;
}

@keyframes turn {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes disapear {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.header {
  max-width: 1440px;
  margin: auto;
  padding-inline: 3%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.header__logo {
  width: 50%;
}

.localisation {
  padding-inline: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e5e5e5;
  text-align: center;
}

.intro {
  padding: 25px 5%;
  height: 200px;
  background-color: #f4f4f4;
  text-align: center;
}
.intro__title {
  margin: 0;
}
.intro__text {
  margin-bottom: 30px;
  color: #646363;
}
.intro__button {
  position: relative;
  z-index: 1;
  padding: 15px 20px;
  border: none;
  box-shadow: 2px 2px 5px #a9a9a9;
  border-radius: 25px;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  color: #ffffff;
  font-weight: bold;
}
.intro__button:hover::after {
  opacity: 1;
}
.intro__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(165deg, #ff93e1, #a16be0);
  box-shadow: 3px 3px 8px #969696;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.functioning {
  height: 400px;
  padding: 25px 5%;
}
.functioning__title {
  font-size: px;
}
.functioning__box {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: -10px;
}
.step__box {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 3px 10px #c4c3c3;
  background-color: #f4f4f4;
}
.step__box__icon {
  width: 70px;
  text-align: center;
  font-size: 18px;
  color: #808080;
}
.step__box:hover {
  background-color: #9256dc2f;
}
.step__box:hover .step__box__icon {
  color: #9356DC;
}
.step__number {
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: relative;
  right: -10px;
  border: 1px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: white;
}

.restaurants {
  padding: 25px 5%;
  background-color: #f4f4f4;
}
.restaurants__flex {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card {
  border-radius: 20px;
  box-shadow: 2px 2px 5px #a9a9a9;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
.card__link {
  width: 100%;
  height: 100%;
}
.card__image {
  height: 70%;
}
.card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__body {
  height: 30%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 10px 15px;
}
.card__body__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}
.card__body__icon .card__body__icon__regular {
  color: #282828;
  font-size: 24px;
  font-weight: 200;
}
.card__body__icon .card__body__icon__modified {
  position: relative;
  top: 24px;
  background: linear-gradient(#FF79DA, #9356DC);
  display: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}
.card__body__icon:hover .card__body__icon__regular {
  display: none;
}
.card__body__icon:hover .card__body__icon__modified {
  display: block;
  animation-duration: 3s;
  animation-name: fillup;
}
@keyframes fillup {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-8px);
  }
  70% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(-24px);
  }
}

.footer {
  padding-inline: 3%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #282828;
  color: #ffffff;
  font-size: 12px;
}
.footer__icon {
  width: 10px;
  font-size: 11px;
}
.footer__box {
  display: flex;
  gap: 10px;
}
.footer__logo {
  font-family: shrikhand;
}

@media screen and (min-width: 768px) {
  .restaurant__flex {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__flex {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
