@media screen and (min-width:1024px) {
   
    .body-menu {
        background-color: white;
    }
    .main {
        background-color:$grey;
        border-radius: unset;
        
        &__image {
            max-height: 480px;
            
            & img {
                object-position: center -100px;
        
            }
        }
    }
        
    .header__menu {
        font-size: 27px;

        &__image {
            width: 230px;
            height: 40px;
        }
    }
    .restaurant {
    
        padding-inline: 2%;
        top: -60px;

        &__flex {
            align-items: unset;
            flex-direction: row;
            justify-content: center;
        }

        &__button {
            margin-top: 4%;
            
        }
    }

    .meal {
    
        &__choice {
        max-width: 310px;
        }

        &__name {
            font-size: 17px;
        }

        &__description {
            font-size: 14px;
        }
    }
}