@media screen and (min-width:768px) {
    .body-menu {
        width: 100%;
        background-color: $darkest-grey;
    }

    .main {
        border-radius: 0px 0px 60px 60px;
    }

    .header__menu {
        padding-top: 2%;
        padding-bottom: 0%;
        font-size: 27px;

        &__image {
            width: 230px;
            height: 52px;
        }
    }

    .restaurant {
        border-radius: 60px 60px 0px 0px;
        top: -60px;

        &__identity {
        justify-content: center;
        grid-gap: 7%;
        }

        &__flex {
            align-items: center;
        }
    }

    .meal {
        &__choice {
            width: 600px;
        }
    }
}