@media screen and (min-width:768px) {
    .body {
        background-color: white;
    }

    .main__home {
        border-radius: 0px;
    }

    .intro {
        &__wrapper {
            padding: 5% 12%;
        }
    }
    
    .header {
       
        &__logo {
            width: 230px;
            height: 40px;
        }
    }

    .step {
        &__box {
            width: 95%;
        }
    }

   .restaurants {
       &__flex {
        align-items: center;
       }
    }
    .card {
        width: 90%;   
    }
    .footer {
        font-size: 18px;
        text-align: center;
        padding-block: 2%;

        &__wrapper {
            flex-direction: row;
            justify-content: center;
            grid-gap: 4%;
        }
        &__icon {
            width: 15px;
            font-size: 12px;
        }
    }
}